{% extends 'main.html' %}

{% block login %}

<div class="self_profile">
	<img src="{{ this_user.org_pic.url }}" alt="avatart_{{ this_user.organization_name }}" width="200" class="avatar">
	<div class="menu">
		<ul>
			<li><a href="http://localhost:8181/user/show_profil/">Общие данный</a></li>
			<li><a href="http://localhost:8181/user/show_me_my_lot/">Лоты</a></li>
			<li><a href="http://localhost:8181/user/my_messages/">Сообщения <span class="badge ">42</span></a> </li>
			<li><a href="http://localhost:8181/user/edit_profile/">Редактировать профиль</a></li>
			<li><a href="http://localhost:8181/user/change_password/">Изменить пароль</a></li>
			<li><a href="http://localhost:8181/user/logout/">Выход</a></li>
		</ul>
	</div>
</div>
<div class = "edit_password_block">
	<div class="warning_error_or_alert alert alert-danger"><p id="error_or_alert">{{ err }}</p></div>
	<form action="http://localhost:8181/user/change_password/" method="post">
		{% csrf_token %}
		{{ form }}
		<input class="btn btn-default" type="submit" value="Сохранить">
	</form>
</div>

{% endblock %}